*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    overflow-x: auto; 
    height: 00vh; 
}


.horizontal-page {
    display: flex;
    width: 200vw; 
    height: 100vh; 
    scroll-behavior: smooth; 
}


.page-section {
    flex: 0 0 100vw; 
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: white;
    background-image: linear-gradient(  #ED99BB,  #BE8AC0,#9280BC, #49386C);}

 

.collage-container {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 100%;
    height: 200px; 
    z-index: 1500; 
    pointer-events: none; 
}


.collage-img {
    position: absolute;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    opacity: 0.9;
}
.img1 {
    width: 550px;
    top: 150px;
    left: 0;
    
    
}

.img2 {
    width: 200px;
    top: 450px;
    left: 590px;
    
}

.img3 {
    width: 270px;
    top: 450px;
    left: 1480px;
  
}

.img4 {
    width: 420px;
    top: 150px;
    left: 1800px;
    
}

.img5 {
    width: 540px;
    top: 150px;
    left: 2300px;
   
   
}

.img6 {
    width: 200px;
    top: 550px;
    left: 800px
    
}
.img7 {
    width: 270px;
    top: 150px;
    left: 1480px;
  
}
text{
    top: 350px;
    font-size: 40px;
    
}
.caption{
    
        margin-top: -500px;
        text-align: right;
        top: 30px;
        font-size: 150px;
        color: #fff;
        font-weight: bold;
        text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.8);
    
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    
}
.announcement-bar{
    background-color: #49386C;
    padding: 20px 0px;
    
    

}


.announcement-bar-content{
    display: flex;
    align-items: center;
}

.content-info {
    display: flex;
    align-items: center;
    gap: 40px;
    flex: 1;
  }
  
  p {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 14px;
  }
  
  i {
    color: var(--green-dark);
  }
  
  .social-links {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  a {
    color: var(--green-dark);
  }
  
  i {
    font-size: 20px;
  }
  

header {
    background-color:  #ED99BB,  #BE8AC0,#9280BC, #49386C);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
  
  .section-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;

    nav {
        display: flex;
        gap: 30px;

        a {
            color: #000000;
            font-weight: 500;
            font-size: 17px;
            text-decoration: none;
            border-bottom: 2px solid transparent;
          }

          a:hover{
            border-bottom-color: #5d2549;
            color: #255d3c;
          }


      }
      img{
        width: 80px;
        height: 80px ;
      }